* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table .thead-dark th {
  background-color: $secondary;
  border-color: $table-border-color;
}

// Forms =======================================================================

.form-control:focus {
  box-shadow: 0 0 5px $purple;
}

// Navs ========================================================================

.nav-tabs {

  .nav-link,
  .nav-link.active, {
    border-width: 0 0 1px 0;
  }

  .nav-link:hover,
  .nav-link.active,
  .nav-link.active:hover,
  .nav-link.active:focus {
    border-bottom: 1px solid $primary;
  }

  .nav-item + .nav-item {
    margin-left: 0;
  }
}

.breadcrumb {
  &-item.active {
    color: $gray-700;
  }
}

// Indicators ==================================================================

.badge {
  padding-bottom: .4em;

  &-secondary,
  &-warning {
    color: $white;
  }
}

// Progress bars ===============================================================

.progress {
  height: 8px;
}

// Containers ==================================================================

.list-group {

  &-item {
    color: $gray-700;

    &.active,
    &:hover,
    &:focus {
      color: $gray-700;
    }

    &.active {
      font-weight: $font-weight-bold;

      &:hover {
        background-color: $list-group-hover-bg;
      }
    }

    &.disabled:hover {
      color: $list-group-disabled-color;
    }
  }
}

.p-cursor {
  cursor: pointer;
}

.details-expand {
  color: $gray-600;
}
